{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Patient Health Form {% endblock %}

{% block body %}
<div class="page-header">
    <h1>Patient Health Form</h1>
</div>

{{ wtf.quick_form(form) }}
{% endblock %}