{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Form Submitted {% endblock %}

{% block body %}
<div class="page-header">
    <h1>Thanks for your submission!</h1>
</div>
{% endblock %}